html
    head
      title= _title
    body
      h1 push button
      button(id='pushButton') follow
      ul
        -for (var i=0; i<5; i++)
          li coding
      div= time
      textarea(id='subscription_detail')
      script(src='/src/initFunc.js')